<script src="/js/list_hide_rows.js"></script>

<div class="row">
  <h2>List of <%= recent_list.size %> most recent changes</h2>
</div>
<br>
  <table class="table table-striped table-condensed table-hover">
  <% recent_list.map {|x| JSON.parse x}.each do |change|
       case change["criticality"] 
       when 1 %>
    <tr class="danger">
    <% when 2 %>
    <tr class="warning">
    <% when 3 %>
    <tr class="info">
    <% else %>
    <tr>
    <% end %>
      <td>+</td>
      <td title="criticality"><%= change["criticality"] %></td>
      <td title="date"><%= "#{change["date"]} #{change["time"]}" %></td>
      <td title="user"><%= change["user"] %></td>
      <td title="hostname"><%= change["hostname"] %></td>
      <td title="description/tag">
      <%= if !change["tag"].blank? 
            "[#{change["tag"]}] #{change["description"]}" 
          else
            "#{change["description"]}"
          end %>
      </td>
    </tr>
    <tr><td colspan="6">
      <%= "<pre>#{change["body"].unpack('m')[0]}</pre>" %>
    </td></tr>
  <% end %>
  </table>
